.deliverySection {
  width: 100%;
  background-color: #F2F4FA;
  padding: 60px 20px;
}

.address {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.addressInfo {
  flex: 1;
  min-width: 300px;
}

.sectionTitle {
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 2.25rem;
  color: #3F4255;
  font-weight: 300;
}

.sectionDescription {
  line-height: 1.5;
  color: #666;
  max-width: 450px;
}

.addressForm {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 65px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;
}

.addressInputContainer {
  flex: 1;
  position: relative;
  display: flex;
}

.addressInput {
  flex: 1;
  border: none;
  padding: 0 20px;
  font-size: 1rem;
  color: #333;
  background-color: white;
  padding-left: 45px;
}

.addressInput:focus {
  outline: none;
}

.locationIcon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #bbb;
  z-index: 1;
}

.submitButton {
  width: 120px;
  border: none;
  background-color: #ffda44;
  color: #3F4255;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #ffd226;
}

.deliveryMap {
  max-width: 100%;
  height: 600px;
  margin: 5%;
  background-position: center;
}