.featuresContainer {
  width: 50%;
  height: 100px;
  box-sizing: unset;
  padding-left: 5%;
  margin-left: unset;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
}

.feature {
  display: flex;
  align-items: center;
  gap: 15px;
}

.featureIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}

.featureText {
  font-size: 14px;
  line-height: 1.4;
  color: #666;
}